/* index.css : styles globaux */

* {
  box-sizing: border-box; /* Important pour éviter les débordements */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --footer-height: 120px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: white;
  font-family: sans-serif;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le scroll horizontal */
}

/* app-container pousse le footer en bas */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
}

.main-content {
  flex: 1; /* Prend tout l'espace disponible */
  width: 100%;
  background: #1a1a1a;
}

h1 {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400; /* unique style dispo dans GoogleFonts */
  font-style: normal;
  font-size: 8rem;
  color: #fff;
  letter-spacing: 0.3em;
  text-align: center;
  margin: 40px 0;
  line-height: 1.1;

  /* Ombre pour un effet "film noir" */
  text-shadow: 1px 1px 2px rgba(200, 200, 200, 0.3);
}

h2 {
  font-family: "Jolly Lodger", system-ui;
  font-size: 4em;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #fff;
}
h3 {
  font-size: 1.6em;
  color: #fff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* ******** */
/*  Footer  */
/* ******** */
.footer {
  background: #333;
  color: #eee;
  padding: 30px 10px;
  text-align: center;
  width: 100%;
  /* margin-top: auto;  pousse le footer en bas */
  margin-top: 80px;
  flex-shrink: 0; /* empêche le footer de rétrécir */
}

.footer-content {
  max-width: 1280px; /* même largeur que le #root */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-links {
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #ffd700;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

/* **************************** */
/*  Page IntroScreen (Accueil)  */
/* **************************** */

.intro-container {
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  background: #1a1a1a;
}

.intro-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/intro-screen.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%) brightness(40%);
  z-index: 0;
  bottom: 0;
}

.intro-overlay {
  position: relative; /* au-dessus du fond */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
  z-index: 1;
}

.intro-container p {
  font-size: 2rem;
  line-height: 2;
}

.intro-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.intro-subtitle {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #ccc;
}

.intro-button {
  background-color: #b8860b;
  color: #fff;
  font-size: 2.5rem;
  padding: 1.5rem 1.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  margin-top: 2rem;
}

.intro-button:hover {
  background-color: #daa520;
  transform: scale(1.05);
}

/* ************ */
/*  Page About  */
/* ************ */

.about-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
  background: #1a1a1a;
  color: #e5e5e5;
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  gap: 2rem;
  padding: 1rem 10px;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 18px;
}

.about-section .section-left {
  flex-direction: row; /* texte à gauche, image à droite */
}

.about-section .section-right {
  flex-direction: row-reverse; /* image à gauche, texte à droite */
}

.about-section .about-paragraph {
  flex: 1;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
}

.about-section .about-paragraph strong {
  font-size: 2rem;
}

.about-section .about-image {
  flex: 1;
  max-width: 80%;
  border: 8px inset #f4f1ea;
  border-radius: 8px;
}

.about-figure {
  flex: 1;
  text-align: center;
}

.about-caption {
  font-size: 1.5rem;
  color: #ccc;
  margin-top: 0.5rem;
  font-style: italic;
}

.about-section .about-paragraph-final {
  font-style: italic;
  font-size: 1.5rem;
  padding: 40px;
  margin-top: 40px;
}

.about-paragraph-final a {
  color: #ffd700;
  text-decoration: none;
}

/* ****************** */
/*  RESPONSIVE DESIGN */
/* ****************** */

/* Media query pour petits écrans */
@media (max-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  /* Page ABOUT */
  .about-section {
    flex-direction: column !important; /* texte et image l’un sous l’autre */
    text-align: start;
    gap: 0.5rem;
    padding: 10px;
    margin: 5px 0;
  }

  .about-section .about-paragraph {
    flex: 1;
    font-size: 1.5rem;
    line-height: 1;
    padding: 15px;
  }

  .about-image {
    margin: 0 auto;
  }

  .about-caption {
    font-size: 1.2rem;
    color: #ccc;
    margin-top: 0.5rem;
    font-style: italic;
    line-height: 1;
  }
  .about-section .about-paragraph-final {
    font-style: italic;
    font-size: 1.5rem;
    padding: 20px;
    margin-top: 10px;
  }

  .footer-links {
    font-size: 1.1rem;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
